<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'head.html' %}
  <title>Edit Goal - {{form.instance.name}} | On Radar</title>
</head>
<body>

  {% include 'header.html' %}

  <div class="container-fluid my-5">
    <h1 class="text-center mb-3">Edit Goal</h1>
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 30rem;">
        <form method='post'> 
          <div class="card-body">
            {% csrf_token %}
            {{ form.as_p }}
          </div>
          <div class="card-footer d-flex justify-content-around">
            <a href="{% url 'goals' %}" class="text-decoration-none btn btn-secondary me-2">Cancel</a>
            <input class="btn btn-primary" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>

  {% include 'footer.html' %}

</body>
</html>