{% load static %}
<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <!-- Brand -->
      <a class="navbar-brand" href="/">
        <img src="{% static '/images/logo.png' %}" height="80rem" alt="On Radar Logo" loading="lazy" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <!-- Left Links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Accounts
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'accounts' %}">All Accounts</a></li>
              <li><a class="dropdown-item" href="{% url 'create-account' %}">Add Account</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'categories' %}">All Categories</a></li>
              <li><a class="dropdown-item" href="{% url 'create-category' %}">Add Category</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Budgets
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'budgets' %}">All Budgets</a></li>
              <li><a class="dropdown-item" href="{% url 'create-budget' %}">Add Budget</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Transactions
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'transactions' %}">All Transactions</a></li>
              <li><a class="dropdown-item" href="{% url 'create-transaction' %}">Add Transaction</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Goals
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'goals' %}">All Goals</a></li>
              <li><a class="dropdown-item" href="{% url 'create-goal' %}">Add Goal</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reminders
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'reminders' %}">All Reminders</a></li>
              <li><a class="dropdown-item" href="{% url 'create-reminder' %}">Add Reminder</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reports
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'reports' %}">All Reports</a></li>
              <li><a class="dropdown-item" href="{% url 'create-report' %}">Add Report</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Saving Goals
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'savings-goals' %}">All Saving Goals</a></li>
              <li><a class="dropdown-item" href="{% url 'create-savings-goal' %}">Add Saving Goal</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Taxes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'taxes' %}">All Taxes</a></li>
              <li><a class="dropdown-item" href="{% url 'create-tax' %}">Add Tax</a></li>
            </ul>
          </li>

        </ul>
  
        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
          <!-- Notification dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link me-3 me-lg-0 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-bell"></i>
              <span class="badge rounded-pill badge-notification bg-danger">1</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="#">Coming Soon</a>
              </li>
            </ul>
          </li>
  
          <!-- Icon dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-globe"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#"></i>English
                  <i class="fa fa-check text-success ms-2"></i></a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#"></i>Coming Soon</a>
              </li>
            </ul>
          </li>

          <div>
            {% if user.is_authenticated %}
              {% if user.is_superuser %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin">Admin Site</a>
                  </li>
                  <li>
                    <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
                  </li>
                </ul>
              {% else %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
                    id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle" height="22"
                      alt="Avatar" loading="lazy" />
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                      <a class="dropdown-item" href="{% url 'detail-view' pk=user.user_id %}">My profile</a>
                      <a class="dropdown-item" href="{% url 'edit-user' pk=user.user_id %}">Edit profile</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </li>
                  </ul>
                </li>
              {% endif %}
            {% else %}
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
                </li>
              </ul>
            {% endif %}
          </div>
        </ul>
  
      </div>
    </div>
  </nav>
</header>