<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'head.html' %}
  <title>Track your finance | Onradar</title>
</head>
<body>
    {% include 'header.html' %}

    <main class="container-fluid">
      {% if user.is_authenticated %}
        {% if not user.is_superuser %}
          <h1 class="my-3 text-center">Welcome, @{{ user.username }}</h1>
        {% endif %}
      {% else %}
        <p class="text-center"><a href="{% url 'login' %}">Login</a> to view your profile.</p>
      {% endif %}
    </main>

    {% include 'footer.html' %}

</body>
</html>