<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'head.html' %}
  <title>Tax Detail - {{tax.name}} | On Radar</title>
</head>
<body>
  {% include 'header.html' %}
  
  <div class="container-fluid my-5">
    <div class="container">
      <h2 class="text-center">Tax Information</h2>
      
      <div class="d-flex justify-content-center">
        <div class="card text-center" style="width: 30rem;">
          <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-file-invoice"></i> {{tax.name}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Tax name - <b>@{{tax.name}}</b></li>
            <li class="list-group-item">Tax type - <b>@{{tax.type}}</b></li>
            <li class="list-group-item">Balance - <b>${{tax.balance}}</b></li>
            <li class="list-group-item">Interest - <b>{{tax.interest_rate}}</b></li>
            <li class="list-group-item">User - <b>{{tax.user_id}}</b></li>
          </ul>
          <div class="card-body">
            <a href="{% url 'edit-tax' pk=tax.tax_id %}" class="me-2">Edit Tax</a>
          </div>

          <div class="card-footer text-muted">
            <div>
              Created at - {{tax.created_at}}
            </div>
            <div>
              Last updated at - {{tax.updated_at}}
            </div>
          </div>
          <div class="card-footer text-muted">
            <a href="{% url 'taxs' %}" class="text-decoration-none btn btn-primary me-2">Taxs</a>
            <a class="btn btn-danger" href="#" data-bs-link="{% url 'delete-tax' pk=tax.tax_id %}" data-bs-toggle="modal" data-bs-target="#deleteConfirmation">Delete Tax</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteConfirmation" tabindex="-1" aria-labelledby="deleteConfirmationLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteConfirmationLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to permanently delete this tax?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger">
            <a href="#" class="link-light text-decoration-none"><i class="fa-solid fa-trash"></i> Delete</a>
          </button>
        </div>
      </div>
    </div>
  </div>

  {% include 'footer.html' %}

  <script>
    const modal = document.getElementById('deleteConfirmation')
    modal.addEventListener('show.bs.modal', event => {
      const relatedButton = event.relatedTarget
      const link = relatedButton.getAttribute('data-bs-link')
      deleteButton = modal.querySelector('.modal-footer button a')
      deleteButton.href = link
    })
  </script>

</body>
</html>
