<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'head.html' %}
  <title>Users | Onradar</title>
</head>
<body class="container-fluid">
  {% include 'header.html' %}
  <main>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <th scope="row">{{user.user_id}}</th>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>@{{user.username}}</td>
            <td>{{user.email}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
</body>
</html>